{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar italiana</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Pastelería Best Cake, tuvo sus comienzos en el Garage de Casa, luego con el paso del tiempo un Panadero amigo, nos cedió las Instalaciones de su Panadería durante algún tiempo.</p>
            <p>Posteriormente esta persona falleció y nos mudamos a nuestra actual Fabrica.</p>
            <p>Hoy estamos muy contentos de poder brindar una gran cantidad de productos de excelente calidad, manteniendo las recetas de Papá, como en los comienzos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}