{% extends 'core/base.html' %}

{% load static %}



{% block title %}Inicio{% endblock %}

{% block content %}


<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Déjate sorprender</span>
          <span class="section-heading-lower">Te gustará</span>
        </h2>
        <p class="mb-3">Trabajamos sólo con los mejores ingredientes. Una vez lo pruebes, consumir nuestros productos serán parte de tu rutina diaria.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-danger btn-xl" href="{% url 'store' %}">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta" style="background-color: rgb(117, 76, 41)">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">The Best Cake, se compromete a brindarle el mejor servicio y los mejores ingredientes, en pro de satisfacer a nuestros clientes. Así también, de recibir siempre con humildad las recomendaciones, que estaremos dispuestos a escuchar y hacer efectivas.</p>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}